.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center; 
}

.menu-list li {
  display: inline-block;
}

.menu-list li a {
  display: block;
  color: #BFD3E6; /* Updated color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

/* Submenu styles */
.submenu {
  display: none;
  position: absolute;
  background-color: #f2f2f2; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submenu li a {
  color: black; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the submenu on hover */
.menu-list > li:hover .submenu {
  display: block;
}

/* Dropdown links style */
.dropdown a {
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}

/* Add a bit of padding to the submenu to ensure it doesn't flicker when transitioning between the main menu and submenu */
.submenu {
  padding-top: 5px;
}

.submenu li {
  padding: 0;
  display: block;
}


.submenu li a:hover {
  background-color: #ddd; 
}
